<div class="all-content">
    <div class="hero-text-infos">
        <p class="name">Kolina Baldwin</p>
        <p class="class">BARBARIAN</p>
        <p class="level">Lv. 12</p>
    </div>
    <div class="hero-status">
        <div class="line-status"><img src="../../../assets/svgs/health-normal.svg"><p class="hero-name">500</p></div>
        <div class="line-status" ><img src="../../../assets/svgs/shield.svg"><p class="hero-line-status">30</p></div>
    </div>
    <div class="hero-status">
        <div class="line-status" ><img src="../../../assets/svgs/sword-wound.svg"><p class="hero-line-status">12</p></div>
        <div class="line-status" ><img src="../../../assets/svgs/clover.svg"><p class="hero-line-status">4</p></div>
    </div>
</div>