<div class="all-content">
    <p class="section-title">Escolhas</p>
    <div class="choice-background">
        <div class="choice-card">
            <p class="choice-text-title">Healing Potion</p>
            <p class="choice-text-description">Heal you character in X life Heal you character in X life</p>
            <p class="choice-text-cost">50</p>
        </div>
        <div class="choice-card">
            <p class="choice-text-title">Healing Potion</p>
            <p class="choice-text-description">Heal you character in X life Heal you character in X life</p>
            <p class="choice-text-cost">50</p>
        </div>
        <div class="choice-card">
            <p class="choice-text-title">Healing Potion</p>
            <p class="choice-text-description">Heal you character in X life Heal you character in X life</p>
            <p class="choice-text-cost">50</p>
        </div>
</div>
